@model IEnumerable<Hydra.Models.Store>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stock)
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var store in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => store.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => store.Address)
            </td>
            <td>
                @foreach(var productInStore in store.Stock)
                {
                <div>
                    <p>There are @productInStore.Quantity of @Html.ActionLink(@productInStore.Product.Name, "Details", "Product", new { id = @productInStore.Product.ID })</p>
                </div>

                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
